@import url('https://fonts.googleapis.com/css?family=Questrial|Varela+Round');

h1, h2, h3, h4, h5, h6{
    color: #cccccc;
    font-family: 'Varela Round', sans-serif;
}

body {
    color: #cccccc;
    font-family: 'Questrial', sans-serif;
} 

h1 {
    color: #8156bc !important;
}

h2 {
    font-size: 2em;
    background: linear-gradient(to right, #8156bc 0%, #e06b6b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}