.Presentation {
    text-align: center;
    margin: auto;
    height: inherit;
    background-color: #191919;
}

.foto {
    margin-top:15vh;
    width: 20%;
    max-width: 445px;
    min-width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2em;
    border-color: #353535;
}

.seta {
    width: 5%;
    transform: rotate(90deg);
}

.resumo{
    line-height: 1.5;
    margin: 0;
    padding-bottom: 5%;
}

.nome {
    width: inherit;
    margin: auto;
    padding-top: 2em;
    max-width: 360px;
    min-width: 200px;
}


.wrapper {
    margin: auto;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #cccccc;
    animation: animate 2s linear infinite;
}

.seta-pulse {
    width: 2em;
    margin-top: 40%;
}


@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 204, 204, .7), 0 0 0 0 rgba(204, 204, 204, .7);
    }
    40% {
        box-shadow: 0 0 0 10px rgba(204, 204, 204, 0), 0 0 0 0 rgba(204, 204, 204, .7);
    }
    80% {
        box-shadow: 0 0 0 10px rgba(204, 204, 204, 0), 0 0 0 0 rgba(204, 204, 204, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204, 204, 204, 0), 0 0 0 0 rgba(204, 204, 204, 0);
    }
}

.area {
    padding-bottom: 3%;
}