.Presentation {
    height: 95vh;
    background-color: #191919;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.Presentation__name-area {
    margin-top: 20vh;
    padding-left: 5%;
}

.Presentation__name-area__svg {
    margin-bottom: -19em;
    z-index: -1; 
    margin-left: 0%;
    padding-left: 3%;
    width: 530px;
    height: 20px;
    animation-name: appering;
    animation-duration: 2.5s;
}

@keyframes appering {
    0%{
        margin-left: -30%;
        width: 0px;
    }
    50% {
        margin-left: -30%;
        width: 0px;
    }
    100%{
        margin-left: 0%;
        width: 530px;
    }
}

.Presentation__name-area__svg__rectangle {
    width: 800px;
    height: 20px;
    z-index: -1; 
}

.Presentation__name-area__names {
    width: 543px;
}

.Presentation__name-area__names__name--first {
    font-size: 12em;
    margin: 0;
    color: #cccccc !important;
    font-weight: 200;
    text-align: left;
    line-height: 1em;
    white-space: nowrap;
}

.Presentation__name-area__names__name--last {
    font-size: 12em;
    margin: 0;
    color: #cccccc !important;
    font-weight: 200;
    text-align: right;
    line-height: 1em;
    white-space: nowrap;
}


.Presentation__name-area__names__description {
    margin: 0 auto;
    height: 1em;
    font-size: 3em;
    
}

.Presentation__image {
    margin-top: 18vh;
    margin-right: 10%;
    width: 400px;
    height: 518px;
    animation-name: grow;
    animation-duration: 4s;
}

@keyframes grow {
    0%{
        margin-right: -25%;
    }
    100%{
        margin-right: 10%;
    }
}

@media (max-width:1087px) {
    .Presentation {
        height: 100%;
    } 

    .Presentation__name-area {
        margin: auto;
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .Presentation__image {
        padding-bottom: 10%;
        padding-top: 5em;
        margin: auto;
    }
}

@media (max-width: 580px) {

    .Presentation {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .Presentation__name-area__names {
        width: 380px;
        margin: auto;
    }
    
    .Presentation__name-area__names__name {
        font-size: 8em;
        margin: 0;
        font-weight: 200;
        text-align: right;
        line-height: 1em;
    }
    
    .Presentation__name-area__names__description {
        margin: 0;
        height: 1em;
        font-size: 2em;
        text-align: right;
    }

    .Presentation__name-area__svg {
        margin-bottom: -13em;
        z-index: -1; 
        padding-left: 11%;
        width: 360px;
        height: 20px;
    }

    .Presentation__name-area__svg__rectangle {
        width: 360px;
        height: 15px;
        z-index: -1; 
    }

    .Presentation__image {
        margin: auto;
        transform: scale(0.8);
        margin-top: 0;
        padding-top: 0;
    }
}

@media (max-width: 480px) {

    .Presentation {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .Presentation__name-area__names {
        width: 230px;
        margin: auto;
    }
    
    .Presentation__name-area__names__name {
        font-size: 5em;
        margin: 0;
        font-weight: 200;
        text-align: right;
        line-height: 1em;
    }
    
    .Presentation__name-area__names__description {
        margin: 0;
        height: 1em;
        font-size: 1em;
        text-align: right;
    }

    .Presentation__name-area__svg {
        margin-bottom: -8em;
        z-index: -1; 
        padding-left: 4%;
        width: 225px;
        height: 10px;
    }

    .Presentation__name-area__svg__rectangle {
        width: 225px;
        height: 15px;
        z-index: -1; 
    }

    .Presentation__image {
        margin: auto;
        transform: scale(0.5);
        margin-top: 0;
        padding-top: 0;
    }
}

@media (min-width: 1088px) {
    .Presentation {
        padding-left: 3%;
        padding-right: 10%;
    }
}