.seta2 {
    width: 1em;
    height: 1.5em;
    transform: rotate(270deg);
}

.Info {
    display: flex;
    width: inherit;
    height: inherit;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 3em;
}

.setaPeriodo {
    display: flex;
    flex-wrap: wrap;
    width: 12em;
    height: 1.6em;
    margin-left: 2em;
}

.periodoEducacao {
    margin: 0;
    padding-top: 0.25em;
}

.nomeEducacao {
    margin: 0;
    padding-top: 0.25em;
}

.localEducacao {
    margin: 0;
}

.nomeLocal {
    width: 17em;
    margin-left: 3em;
}