.Tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.TagsArea {
    width: 70vh;
    margin: auto;
    padding-bottom: 10vh;
    text-align: center;
}

#Interesses {
    width: 30vh;
}