.TechArea {
    background-color: #191919;
    margin: 0;
}

.Tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.AreaName {
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}